<div class="side-bar-header">
  <div class="user-name">
    <a href="#">ikeji</a>
  </div>
  <div class="chat-create">
    <a href="#">チャットを作成する</a>
  </div>
</div>

<div class="rooms">
  <div class="room">
    <div class="room-name">
     <a href="#">syo-buta</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
     <a href="#">dai-buta</a>
    </div>
  </div>
</div>