.wrapper {
  display: flex;
}
.side-bar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

.side-bar-header {
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-name a{
  font-size: 16px;
  color: #fafafa;
  margin-left:20px ;
  text-decoration: none;
}

.chat-create a{
  font-size: 10px;
  color: deepskyblue;
  border: 1px solid lightblue;
  padding: 14px;
  text-decoration: none;
}

.rooms {
  background-color: #2f3e51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}

.room{
  padding: 20px 0 40px;
}

.room-name a{
  color: white;
  text-decoration: none;
}

.chat {
  background-color: #ffffff;
  width: calc(100% - 300px);
}

.chat-header {
  height: 100px;
  padding: 0 40px;
}

.messages {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
}

.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
}